@import "components/colors";
@import "components/fonts";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    * {
        overflow: hidden;
    }

    .header {
        width: 100%;
        height: 105vh;

        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            height: toRem(80);
            padding-left: toRem(45);
            padding-right: toRem(45);
            background-color: $lgt;
            box-sizing: border-box;
            z-index: 5;

            .navbarGrid {
                display: grid;
                grid-template-columns: 1.3fr 1fr 1.3fr;
                grid-template-rows: toRem(80);
                align-items: center;


                .navbarLeft {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    .option {
                        text-decoration: none;
                        @include fontSettings("Urbanist", $drk, 16);
                    }

                    .option:hover {
                        color: #707070;
                        font-weight: bold;
                    }
                }

                .navbarMiddle {
                    display: flex;
                    justify-content: center;

                    .logo {
                        text-decoration: none;
                        @include fontSettings("Oswald", #707070, 35)
                    }

                    .logo:hover {
                        color: $drk;
                        font-weight: bold;
                    }
                }

                .navbarRight {
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: space-between;

                    .optionRight {
                        text-decoration: none;
                        @include fontSettings("Urbanist", $drk, 16);
                        align-self: center;
                    }

                    .optionRight:hover {
                        color: #707070;
                        font-weight: bold;
                    }

                    #find {
                        background-color: $drk;
                        width: toRem(110);
                        height: toRem(90);
                        padding-left: toRem(10);
                        border: none;
                        display: flex;
                        gap: toRem(10);
                        align-items: center;


                        i {
                            color: $lgt;
                        }

                        span {
                            @include fontSettings("Urbanist", $lgt, 16);
                            text-decoration: none;
                        }
                    }

                    #iconCar,
                    #iconUser {
                        text-decoration: none;
                        color: $drk;
                        align-self: center;
                    }

                    #iconCar:hover,
                    #iconUser:hover {
                        color: #707070;
                    }

                    #iconCar {
                        i {
                            font-size: toRem(18);
                        }
                    }

                    #iconUser {
                        i {
                            font-size: toRem(30);
                        }
                    }

                    #find:hover {
                        background-color: #707070;
                    }
                }
            }

            .navbarGrid>div {
                display: flex;
            }
        }

        #optionNav {
            height: 100vh;
            width: 100%;
            position: fixed;
            bottom: toRem(-80);
            display: none;
            grid-template-columns: 2fr 3fr 4fr;
            grid-template-rows: 100vh;
            z-index: 3;

        }

        .headerSliderContainer {
            width: 100%;
            box-sizing: border-box;

            #headerSliderLeft,
            #headerSliderRight {
                position: absolute;
                bottom: toRem(300);
                width: toRem(35);
                height: toRem(35);
                background-color: rgb(88, 81, 81);
                backdrop-filter: blur(2px);
                border: none;
                border-radius: toRem(50);

                @include fontSettings("Open Sans", $lgt, 20)
            }

            #headerSliderLeft:hover,
            #headerSliderRight:hover {
                background-color: #707070;
            }

            #headerSliderLeft {
                left: toRem(40);
            }

            #headerSliderRight {
                right: toRem(40);
            }


            .headerSlider {
                #headerSlide1 {
                    #textSlide1 {
                        position: absolute;
                        bottom: toRem(100);
                        left: toRem(120);

                        h2 {
                            @include fontSettings("Urbanist", $lgt, 40);
                        }

                        p {
                            @include fontSettings("Open Sans", $lgt, 24);
                        }
                    }

                    #seeMore1 {
                        position: absolute;
                        bottom: toRem(100);
                        left: toRem(720);
                        width: toRem(120);
                        height: toRem(40);
                        @include fontSettings("Urbanist", $lgt, 16);
                        background-color: $bas;
                        border: none;
                        border-radius: toRem(50);
                    }

                    #seeMore1:hover {
                        background-color: #707070;
                    }

                    img {
                        width: 105%;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}