*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contenedor{
    background-color:  #400B24; 
    width: 1360px;
    height: 720px;
    display:flex;
}

footer{
    background-color:  #400B24;  
}

.col1{
    width: 500px;
    height: 240px;
    align-items: center;
    text-align: center;
}

.col1 h1{
    margin-bottom: 15px;
    font-family: 'Urbanist-Regular';
}

.col1 p{
    margin-bottom: 15px;
    font-family: 'Open Sans';
    text-align: center;
}

.col2{
    text-align: center;
    width: 500px;
    height: 240px;
}
.col2 h1{
    margin-bottom: 15px;
}

.col2 p{
    margin-bottom: 15px;
    text-align: center;
}

.col3{
    text-align: center;
    width: 500px;
    height: 240px;
}


.col3 img{
    width: 40px;
    
}

.col3 .yt{
    
   text-align: center;
    margin-bottom: 15px;
    
}

.col3 .ig{
    
    text-align: center;
    margin-bottom: 15px;
    
}

.col3 .fb{
    
    text-align: center;
    margin-bottom: 15px;
    
}