.header {
    width: 100%;
    height: 100vh;

    .navbar {
        position: fixed;
        top: 0;
        width: 100%;
        height: toRem(70);
        padding-left: toRem(45);
        padding-right: toRem(45);
        background-color: $lgt;
        box-sizing: border-box;
        z-index: 5;

        .navbarGrid {
            display: grid;
            grid-template-columns: 1.3fr 1fr 1.3fr;
            grid-template-rows: toRem(70);
            align-items: center;


            .navbarLeft {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                .option,
                .tvLink {
                    text-decoration: none;
                    @include fontSettings("Urbanist", $drk, 16);
                    font-weight: bold;

                    a {
                        @include fontSettings("Urbanist", $drk, 16);
                        text-decoration: none;

                    }
                }

                .option:hover {
                    color: #707070;
                    font-weight: bold;
                    cursor: pointer;
                }

                .tvLink:hover {
                    color: #707070;
                    font-weight: bold;
                }
            }

            .navbarMiddle {
                display: flex;
                justify-content: center;

                .logo {
                    text-decoration: none;
                    @include fontSettings("Oswald", #707070, 35)
                }

                .logo:hover {
                    color: $drk;
                    font-weight: bold;
                }
            }

            .navbarRight {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;

                .optionRight {
                    text-decoration: none;
                    @include fontSettings("Urbanist", $drk, 16);
                    align-self: center;
                    font-weight: bold;
                }

                .optionRight:hover {
                    color: #707070;
                    font-weight: bold;
                }

                #find {
                    background-color: $drk;
                    width: toRem(110);
                    height: toRem(85);
                    padding-left: toRem(10);
                    border: none;
                    display: flex;
                    gap: toRem(10);
                    align-items: center;
                    cursor: pointer;

                    i {
                        color: $lgt;
                    }

                    span {
                        @include fontSettings("Urbanist", $lgt, 16);
                        text-decoration: none;
                    }
                }

                #iconCar,
                #iconUser {
                    text-decoration: none;
                    color: $drk;
                    align-self: center;
                    cursor: pointer;
                }

                #iconCar:hover,
                #iconUser:hover {
                    color: #707070;
                }

                #iconCar {
                    i {
                        font-size: toRem(18);
                    }
                }

                #iconUser {
                    i {
                        font-size: toRem(30);
                    }
                }

                #find:hover {
                    background-color: #707070;
                }
            }
        }

        .navbarGrid>div {
            display: flex;
        }
    }


    #dropdownNav {
        display: none;
        height: 100vh;
        width: 100%;
        padding-top: toRem(100);
        padding-left: toRem(45);
        padding-right: toRem(45);
        position: fixed;
        top: toRem(0);
        grid-template-columns: 3fr 5fr 5fr;
        grid-template-rows: 90vh 10vh;
        z-index: 3;
        background-color: $lgt;
        backdrop-filter: blur(15px);

        .navLeftPanel {
            display: flex;
            flex-direction: column;
            grid-column: 1/2;
            grid-row: 1/2;
            gap: toRem(30);

            #titleOp {
                @include fontSettings("Urbanist", $drk, 24);
                border-bottom: solid $drk toRem(3);
                width: min-content;
            }

            #leftList {
                display: flex;
                flex-direction: column;
                gap: toRem(30);

                .brandOp {
                    @include fontSettings("Open Sans", $drk, 16)
                }

                .brandOp:hover {
                    cursor: pointer;
                    font-weight: bold;
                    border-bottom: solid $drk toRem(1);
                    width: min-content;
                }
            }
        }

        .navRightPanel {
            grid-column: 2/3;
            grid-row: 1/2;

            .rightList {
                display: none;
                border-left: solid $drk toRem(1);
                height: min-content;
                padding-left: toRem(45);
                position: relative;
                top: toRem(60);
                flex-direction: column;
                gap: toRem(30);

                .productOp {
                    @include fontSettings("Urbanist", $drk, 18);

                    a {
                        text-decoration: none;
                        color: $drk;
                    }

                    a:hover {
                        font-weight: bold;
                    }
                }
            }
        }

        .rightFrame {
            grid-column: 3/4;
            grid-row: 1/2;
            display: flex;
            justify-content: right;
            gap: toRem(10);
            border-left: solid $drk toRem(1);

            #btnClose {
                position: absolute;
                border: none;
                background-color: transparent;
                cursor: pointer;

                .fa-times {

                    font-size: toRem(25);
                }
            }


            .productExample {
                height: 80vh;
                width: 85%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: toRem(30);

                .exampleImgContainer {
                    height: auto;

                    #exampleImg {
                        width: toRem(400);
                        height: auto;
                        border-radius: toRem(10);
                    }
                }

                @supports (object-fit: cover) {
                    .exampleImgContainer {
                        object-fit: cover;
                        object-position: center center;
                    }
                }

                #exampleTitle {
                    @include fontSettings('Urbanist', $drk, 20)
                }

                #exSM {
                    @include fontSettings('Open Sans', $drk, 16);
                    font-weight: bold;
                    text-decoration: none;
                }

                #exSM:hover {
                    text-decoration: underline;
                }
            }
        }

        .goUp {
            grid-column: 1/4;
            grid-row: 2/3;
            width: 100%;
            height: 10vh;
            position: absolute;
            bottom: toRem(100);
        }
    }

    .headerSliderContainer {
        width: 100%;
        box-sizing: border-box;


        #headerSliderLeft,
        #headerSliderRight {
            position: absolute;
            bottom: toRem(300);
            width: toRem(35);
            height: toRem(35);
            background-color: rgba(88, 81, 81, 0.301);
            backdrop-filter: blur(2px);
            border: none;
            border-radius: toRem(50);
            cursor: pointer;
            @include fontSettings("Open Sans", $lgt, 20)
        }

        #headerSliderLeft:hover,
        #headerSliderRight:hover {
            background-color: #707070;
        }

        #headerSliderLeft {
            left: toRem(40);
        }

        #headerSliderRight {
            right: toRem(40);
        }


        .headerSlider {
            #headerSlide1 {
                display: none;
                padding-top: toRem(70);

                #textSlide1 {
                    position: absolute;
                    bottom: toRem(100);
                    left: toRem(120);
                    line-height: toRem(50);

                    h2 {
                        @include fontSettings("Urbanist", $drk, 40);
                    }

                    p {
                        @include fontSettings("Open Sans", $drk, 24);
                    }
                }

                #seeMore1 {
                    position: absolute;
                    bottom: toRem(50);
                    left: toRem(120);
                    width: toRem(100);
                    height: toRem(35);
                    @include fontSettings("Urbanist", $lgt, 16);
                    background-color: $drk;
                    border: none;
                    border-radius: toRem(50);
                }

                #seeMore1:hover {
                    background-color: #707070;
                }

                img {
                    width: 105%;
                    object-fit: cover;
                }
            }

            #headerSlide2 {
                display: none;
                padding-top: toRem(0);

                #textSlide2 {
                    position: absolute;
                    bottom: toRem(100);
                    left: toRem(120);
                    line-height: toRem(50);

                    h2 {
                        @include fontSettings("Urbanist", $lgt, 40);
                    }

                    p {
                        @include fontSettings("Open Sans", $lgt, 24);
                    }
                }

                #seeMore2 {
                    position: absolute;
                    bottom: toRem(50);
                    left: toRem(120);
                    width: toRem(100);
                    height: toRem(35);
                    @include fontSettings("Urbanist", $lgt, 16);
                    background-color: $bas;
                    border: none;
                    border-radius: toRem(50);
                }

                #seeMore2:hover {
                    background-color: #707070;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            #headerSlide3 {
                display: none;
                padding-top: toRem(80);


                #textSlide3 {
                    position: absolute;
                    bottom: toRem(100);
                    left: toRem(120);
                    line-height: toRem(50);

                    h2 {
                        @include fontSettings("Urbanist", $drk, 40);
                    }

                    p {
                        @include fontSettings("Open Sans", $drk, 24);
                    }
                }

                #seeMore3 {
                    position: absolute;
                    bottom: toRem(50);
                    left: toRem(120);
                    width: toRem(100);
                    height: toRem(35);
                    @include fontSettings("Urbanist", $lgt, 16);
                    background-color: $drk;
                    border: none;
                    border-radius: toRem(50);
                }

                #seeMore3:hover {
                    background-color: #707070;
                }

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
        }


    }
}