<%- include('partials/head', {linkCSS:'./styles/css/styles.css', tituloWeb:'Principal'})  %> 
<body>
    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="navbarGrid">
                    <div class="navbarLeft">
                        <p class="option" id="option1">CELULARES</p>
                        <p class="option" id="option2">WATCHES</p>
                        <p class="option" id="option3">BUDS</p>
                        <p class="option" id="option4">ACCESORIOS</p>
                    </div>
                    <div class="navbarMiddle">
                        <a class="logo" href="#">XEON</a>
                    </div>
                    <div class="navbarRight">
                        <a class="optionRight" href="#">INGRESAR</a>
                        <a class="optionRight" href="#">REGISTRARSE</a>
                        <button id="find"><i class="fas fa-search"></i><span>BUSCAR</span></button>
                        <a id="iconCar" href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a id="iconUser" href="#"><i class="fas fa-user-circle"></i></a>
                    </div>
                </div>
            </div>
            <div id="dropdownNav">
                <div class="navLeftPanel">
                    <h2 id="titleOp"></h2>
                    <ul id="leftList">
                        
                    </ul>
                </div>
                <div class="navRightPanel">
                    <ul class="rightList">
                    </ul>
                </div>
                <div class="rightFrame">
                    <button id='btnClose' onclick="btnClose()"><i class="fas fa-times"></i></button>
                    <div class="productExample">
                        <div class="exampleImgContainer">
                            <img id="exampleImg" src="" alt="">
                        </div>
                        <h2 id="exampleTitle"></h2>
                        <a id="exSM" href="">Ver m치s</a>
                    </div>
                </div>
                <div class="goUp"></div>
            </div>
            <div class="headerSliderContainer">
                <button id="headerSliderLeft"> < </button>
                <button id="headerSliderRight"> > </button>
                <ul class="headerSlider">
                    <li id="headerSlide1">
                        <div id="textSlide1">
                            <h2>MI 11 ULTRA</h2>
                            <p>La gama top de Xiaomi a precios irresistibles</p>
                        </div>
                        <input id="seeMore1" type="button" value="Ver m치s"></input>
                        <img src="https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/Mi_11_Ultra_xiaomi.jpg" alt="Mi_11_Ultra_xiaomi">
                    </li>
                    <li id="headerSlide2">
                        <div id="textSlide2">
                            <h2>CALIDAD DE SONIDO INIGUALABLE</h2>
                            <p>Con los nuevos Galaxy Buds 2</p>
                        </div>
                        <input id="seeMore2" type="button" value="Ver m치s"></input>
                        <img src="https://www.trustedreviews.com/wp-content/uploads/sites/54/2021/09/Samsung-Galaxy-Buds-2.jpg" alt="Buds2">
                    </li>
                    <li id="headerSlide3">
                        <div id="textSlide3">
                            <h2>COMODIDAD Y VERSATILIDAD</h2>
                            <p>De sobra para los Apple Watch Series 7</p>
                        </div>
                        <input id="seeMore3" type="button" value="Ver m치s">
                        <img src="https://fdn.gsmarena.com/imgroot/news/21/09/apple-watch-series-7/-1220x526/gsmarena_0000.jpg" alt="appleWatch7">
                    </li>
                </ul>
            </div>
        </div>
        <div class="mobileSection">
            <div class="mobileSliderContainer">
                <ul class="mobileSlider">
                    <li id="mobileSlide1"></li>
                    <li id="mobileSlide2"></li>
                    <li id="mobileSlide3"></li>
                    <li id="mobileSlide4"></li>
                    <li id="mobileSlide5"></li>
                </ul>
            </div>
        </div>
        <div class="tabletSection">
            <div class="tabletSliderContainer">
                <ul class="tabletSlider">
                    <li id="tabletSlide1"></li>
                    <li id="tabletSlide2"></li>
                    <li id="tabletSlide3"></li>
                    <li id="tabletSlide4"></li>
                </ul>
            </div>
        </div>
        <div class="accesoriesSection">
            <div class="accesoriesSliderContainer">
                <ul class="accesoriesSlider">
                    <li id="accesoriesSlide1"></li>
                    <li id="accesoriesSlide2"></li>
                    <li id="accesoriesSlide3"></li>
                    <li id="accesoriesSlide4"></li>
                    <li id="accesoriesSlide5"></li>
                </ul>
            </div>
        </div>
        <div class="offersSection">
            <div class="offersGrid">
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
<script src="./js/carousels.js"></script>
<script src="./js/dropdown.js"></script>
</html>