<%- include('partials/head', {linkCSS:'./styles/css/styles.css', tituloWeb:'Principal'})  %> 
<body>
    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="navbarGrid">
                    <div class="navbarLeft">
                        <a class="option" href="#">CELULARES</a>
                        <a class="option" href="#">WATCHES</a>
                        <a class="option" href="#">BUDS</a>
                        <a class="option" href="#">ACCESORIOS</a>
                    </div>
                    <div class="navbarMiddle">
                        <a class="logo" href="#">XEON</a>
                    </div>
                    <div class="navbarRight">
                        <a class="optionRight" href="#">INGRESAR</a>
                        <a class="optionRight" href="#">REGISTRARSE</a>
                        <button id="find"><i class="fas fa-search"></i><span>BUSCAR</span></button>
                        <a id="iconCar" href="#"><i class="fas fa-shopping-cart"></i></a>
                        <a id="iconUser" href="#"><i class="fas fa-user-circle"></i></a>
                    </div>
                </div>
            </div>
            <div id="optionNav">
                <div class="navLeftPanel">
                    <h2 class="titleOp">
                        <ul class="leftList">
                            <li class="brandOp">asdda</li>
                        </ul>
                    </h2>
                </div>
                <div class="navRightPanel">
                    <ul class="rigthList">
                        <li class="productOp">fasfa</li>
                    </ul>
                </div>
                <div class="rightFrame"></div>
            </div>
            <div class="headerSliderContainer">
                <button id="headerSliderLeft"> < </button>
                <button id="headerSliderRight"> > </button>
                <ul class="headerSlider">
                    <li id="headerSlide1">
                        <div id="textSlide1">
                            <h2>MI 11 ULTRA</h2>
                            <p>La gama top de Xiaomi a precios irresistibles.</p>
                        </div>
                        <input id="seeMore1" type="button" value="Ver más"></input>
                        <img src="https://www.notebookcheck.net/fileadmin/Notebooks/News/_nc3/Mi_11_Ultra_xiaomi.jpg" alt="Mi_11_Ultra_xiaomi">
                    </li>
                    <li id="headerSlide2">
                        <div id="textSlide2">
                            <h2>GALAXY BUDS 2</h2>
                            <p>Hasta con 30% de descuento.</p>
                        </div>
                        <img src="https://www.pcworld.es/cmsdata/features/3807259/comprar-galaxy-buds-2_thumb800.jpg" alt="Bud2">
                    </li>
                    <li id="headerSlide3"></li>
                </ul>
            </div>
        </div>
        <div class="mobileSection">
            <div class="mobileSliderContainer">
                <ul class="mobileSlider">
                    <li id="mobileSlide1"></li>
                    <li id="mobileSlide2"></li>
                    <li id="mobileSlide3"></li>
                    <li id="mobileSlide4"></li>
                    <li id="mobileSlide5"></li>
                </ul>
            </div>
        </div>
        <div class="tabletSection">
            <div class="tabletSliderContainer">
                <ul class="tabletSlider">
                    <li id="tabletSlide1"></li>
                    <li id="tabletSlide2"></li>
                    <li id="tabletSlide3"></li>
                    <li id="tabletSlide4"></li>
                </ul>
            </div>
        </div>
        <div class="accesoriesSection">
            <div class="accesoriesSliderContainer">
                <ul class="accesoriesSlider">
                    <li id="accesoriesSlide1"></li>
                    <li id="accesoriesSlide2"></li>
                    <li id="accesoriesSlide3"></li>
                    <li id="accesoriesSlide4"></li>
                    <li id="accesoriesSlide5"></li>
                </ul>
            </div>
        </div>
        <div class="offersSection">
            <div class="offersGrid">
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
                <div id="offerGridItem"></div>
            </div>
        </div>
        <div class="footer">

        </div>
    </div>
</body>
</html>