<%- include('partials/head', {linkCSS:'/styles/css/form.css', tituloWeb:'Users'})  %> 

<form  class="form-register" action="https://identitytoolkit.googleapis.com/v1/accounts:signUp?key=AIzaSyDRWNV68ZESh8qIXF2S0nYgRwckrH8OAJE" method="POST">
<!-- <form  class="form-register" ></form> -->
    <h4>Registro</h4>
    <!-- <input class="controls" type="text" name="nombre" placeholder="Nombre">
    <input class="controls" type="text" name="apellido" placeholder="Apellidos"> -->
    <input class="controls" type="email" name="email" id="txtMail" placeholder="Correo Electronico">
    <!-- <input class="controls" type="user" name="usuario" placeholder="Usuario"> -->
    <input class="controls" type="password" name="password"  id="txtPassword" placeholder="Contraseña">
    <input  class="botons" type="submit" id="btnRegistro" value="Registrar" >
    <Urbanist><p><a href="#">¿Ya tienes una cuenta?</a></p></Urbanist>
 </form>

<!-- <script src="/feature/firbAuth.js"></script>

 <!-- BIBLIOTECAS DE FIREBASE -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.7.0/firebase-analytics.js"></script>


<script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-auth.js"></script>

<script>
import { initializeApp } from 'firebase/app';

const firebaseConfig = {
  apiKey: "AIzaSyDRWNV68ZESh8qIXF2S0nYgRwckrH8OAJE",
  authDomain: "xeon-24444.firebaseapp.com",
  databaseURL: "https://xeon-24444.firebaseio.com",
  projectId: "xeon-24444",
  storageBucket: "xeon-24444.appspot.com",
  messagingSenderId: "SENDER_ID",
  appId: "APP_ID",
  measurementId: "G-MEASUREMENT_ID",
}

    firebase.initializeApp(firebaseConfig);
    firebase.analytics();

    const auth=firebase.auth();
</script> -->
</body>
</html>