<%- include('partials/head', {linkCSS:'/styles/css/form.css', tituloWeb:'Users'})  %> 



<form class="form-register" action="/users/signup" method="POST">
    <h4>Registro</h4>

    <input class="controls" type="user" name="username" id="txtUser" placeholder="Usuario">
    <input class="controls" type="email" name="email" id="txtMail" placeholder="Correo Electronico">
    <input class="controls" type="password" name="password"  id="txtPassword" placeholder="Contraseña">
    
    <button type="submit" class="botons" id="btnRegistro" >Registrar</button>
    <Urbanist><p><a href="#">¿Ya tienes una cuenta?</a></p></Urbanist>
</form>
  <!-- <script>
    const txtUser = document.getElementById('txtUser');
    const txtMail = document.getElementById('txtMail');
    const txtPassword = document.getElementById('txtPassword');
    const btnRegistro = document.getElementById('btnRegistro');
    
    function Limpiar(){

    }

    function Validar(){
      if(txtUser.value == "" || txtUser.value == null){
        alert("Ingresar nombre de usuario");

      }else if(txtMail.value == "" || txtMail.value == null){
        alert("Ingresar una dirección de correo electrónico");

      }else if(txtPassword.value == "" || txtPassword.value == null){
        alert("Ingresar una contraseña")

      }else{
        btnRegistro.disabled = false
      }
    }

    btnRegistro.addEventListener('select', Validar)
  </script> -->

 
</body>
</html>