<%- include('partials/head', {linkCSS:'/styles/css/form.css', tituloWeb:'Login'})  %> 

<form  class="form-register" method="post">
    <h4>Login</h4>
    <input class="controls" type="email" name="email"  placeholder="Correo Electrónico">
    <input class="controls" type="password" name="password"  placeholder="Contraseña">
    <button type="submit" class="botons" id="btnIngreso">Ingresar</button>
    <Urbanist><p><a href="#">¿No tienes Cuenta?</a></p></Urbanist>
  </form>
</body>
</html>