<%- include('partials/head-users', {linkCSS:'./styles/css/form.css', tituloWeb:'Users'})  %> 

<form  class="form-register" method="post">
    <h4>Login</h4>
    <input class="controls" type="text" name="user"  placeholder="Usuario">
    <input class="controls" type="password" name="password"  placeholder="Contraseña">
    <input  class="botons" type="submit" value="Ingresar" href="#">
    <Urbanist><p><a href="#">¿No tienes Cuenta?</a></p></Urbanist>
  </form>
</body>
</html>