<div id="dropdownNav">
    <div class="navLeftPanel">
        <h2 id="titleOp"></h2>
        <ul id="leftList">
            
        </ul>
    </div>
    <div class="navRightPanel">
        <ul class="rightList">
        </ul>
    </div>
    <div class="rightFrame">
        <button id='btnClose' onclick="btnClose()"><i class="fas fa-times"></i></button>
        <div class="productExample">
            <div class="exampleImgContainer">
                <img id="exampleImg" src="" alt="">
            </div>
            <h2 id="exampleTitle"></h2>
            <a id="exSM" href="">Ver más</a>
        </div>
    </div>
    <div class="goUp"></div>
</div>