<div class="footer">
  <div class="footerGrid">
    <div class="column1">
      <a class="logoFooter" href="/">XEON</a>
    </div>
    <div class="column2">
      <h2 class="cTitle">SOBRE NOSOTROS</h2>
      <ul>
        <li><a href="#">LA EMPRESA</a></li>
        <li><a href="/nosotros/newsletter">NEWSLETTER</a></li>
        <li><a href="#">EMPLEO</a></li>
      </ul>
    </div>
    <div class="column2">
      <h2 class="cTitle">SOPORTE</h2>
      <ul>
        <li><a href="/soporte/contactanos">CONTÁCTANOS</a></li>
        <li><a href="#">CHAT ONLINE</a></li>
        <li><a href="#">PREGUNTAS FRECUENTES</a></li>
      </ul>
    </div>
    <div class="column3">
      <ul>
        <li>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-facebook"></i></a>
        </li>
      </ul>
    </div>
    <p>© 2021 XEON, Inc.</p>
  </div>
</div>
