<div class="navbar">
  <div class="navbarGrid">
    <div class="navbarLeft">
      <p class="option" id="option1">CELULARES</p>
      <p class="option" id="option2">ACCESORIOS</p>
      <p class="tvLink" id="option3"><a href="/menu">TIENDA VIRTUAL</a></p>
    </div>
    <div class="navbarMiddle">
      <a class="logo" href="/">XEON</a>
    </div>
    <div class="navbarRight">
      <a class="optionRight" href="/users/signin">INGRESAR</a>
      <a class="optionRight" href="/users/signup">REGISTRARSE</a>
      <button id="find">
        <i class="fas fa-search"></i><span>BUSCAR</span>
      </button>
      <a id="iconCar" href="/cesta">
        <i class="fas fa-shopping-cart"></i>
      </a>
      <p id="iconUser"><i class="fas fa-user-circle"></i></p>
    </div>
  </div>
</div>
